@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello There</h1>
    <p>See all the movies here it's totally awesome.</p>
</div>
