@page "{tconst}"
@model imdb_app.Pages.UpdateTitleModel
@{

}

<h1>Add Title</h1>

<form method="post">
    <div class="form-group">
        <label for="tconst">tconst</label>
        <input asp-for="Title.Tconst" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label for="Ritle Type">Title Type</label>
        <input asp-for="Title.TitleType" class="form-control" />
    </div>
    <div class="form-group">
        <label for="primaryTitle">primaryTitle</label>
        <input asp-for="Title.PrimaryTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label for="originalTitle">originalTitle</label>
        <input asp-for="Title.OriginalTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label for="startYear">startYear</label>
        <input asp-for="Title.StartYear" class="form-control" />
    </div>
    <div class="form-group">
        <label for="endYear">endYear</label>
        <input asp-for="Title.EndYear" class="form-control" />
    </div>
    <div class="form-group">
        <label for="runtimeMinutes">runtimeMinutes</label>
        <input asp-for="Title.RuntimeMinutes" class="form-control" />
    </div>
    <div class="form-group">
        <label for="genres">Genres</label>
        <input asp-for="Genres" class="form-control" />
    </div>
    <div class="form-group">
        <label for="isAdult">isAdult</label>
        <div class="form-check">
            <input asp-for="Title.IsAdult" class="form-check-input" type="checkbox" />
            <label class="form-check-label" for="isAdult">
                Check if adult
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-success my-2">Update</button>
</form>
